<footer class="footer is-centered" style="padding-bottom:3rem;">
    <div class="content has-text-centered">
        <p class="copyright">&copy; {{date format="YYYY"}} <a href="{{@site.url}}"><strong class="has-text-grey-darker">{{@site.title}}</strong></a></p>
        <p class="declare has-text-grey">
            Analytics by <a href=https://plausible.io target='_blank' rel='noopener noreferrer'><strong>Plausible</strong></a> - GDPR, CCPA and PECR compliant, no cookies.
            <br>Using <a href="https://fizzy.cc/fizzy-theme/" target="_blank" rel="noopener noreferrer"><strong>The Fizzy Theme</strong> v1.3.0 </a>&nbsp;|&nbsp;Published with <a href="https://ghost.org/?via=kmhelander" target="_blank"><strong>Ghost 5</strong></a>
            &nbsp;|&nbsp;Site search by <strong><a href="https://github.com/gmfmi/searchinGhost" target="_blank" rel="noopener noreferrer">SearchInGhost</a></strong>

            
        </p>
    </div>
</footer>