<hr>
<div id="endofpage" class="is-montserrat is-uppercase has-text-centered is-size-7">

How's my writing? Anonymous feedback, thank you!<br>
 
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="padded" data-i18n_like="Interesting, good read" data-ef_voting="push" data-white_label="true" 
data-identifier="{{id}}" data-show_dislike_label="true" data-counter_show="false" data-popup_disabled="true" data-tooltip_enabled="false"  
data-i18n_dislike="Nah, it needs work." data-i18n_after_like="Thank you" data-i18n_after_dislike="Thank you"></span>

<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->

</div>

<!-- Page read tracker -->

<script>
    console.log('Tracking on likepanel'); 

    const options = {
     threshold: 1,
    };

    function handleIntersection(entries) {
        entries.map((entry) => {
            if (entry.isIntersecting) {
            const pname = document.title.slice(0, 20);
            console.log('Log event and unobserve ' + pname);
            plausible('PageRead', {props: {page: pname }});
            observer.unobserve(entry.target);
            }
        });
        }

    const observer = new IntersectionObserver(handleIntersection, options);
    observer.observe(document.getElementById("endofpage"));

</script>

